<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--Filtre pour gerer l'encodage UTF-8-->
    <filter>
        <filter-name>Set Character Encoding</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>ignore</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Set Character Encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--Fin Filtre pour gerer l'encodage UTF-8-->
    <filter>
        <filter-name>RestrictionFilter</filter-name>
        <filter-class>com.filters.RestrictionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RestrictionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <servlet-class>com.servlets.Accueil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stock</servlet-name>
        <servlet-class>com.servlets.Stock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SousCategories</servlet-name>
        <servlet-class>com.servlets.SousCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Categories</servlet-name>
        <servlet-class>com.servlets.Categories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Achat</servlet-name>
        <servlet-class>com.servlets.Achat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <servlet-class>com.servlets.Deconnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fournisseur</servlet-name>
        <servlet-class>com.servlets.Fournisseur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patient</servlet-name>
        <servlet-class>com.servlets.Patient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sorties</servlet-name>
        <servlet-class>com.servlets.Sorties</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Acceuil</servlet-name>
        <servlet-class>com.servlets.Acceuil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Services</servlet-name>
        <servlet-class>com.servlets.Services</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/Accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stock</servlet-name>
        <url-pattern>/Stock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SousCategories</servlet-name>
        <url-pattern>/SousCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Categories</servlet-name>
        <url-pattern>/Categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Achat</servlet-name>
        <url-pattern>/Achat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/Deconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fournisseur</servlet-name>
        <url-pattern>/Fournisseur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patient</servlet-name>
        <url-pattern>/Patient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sorties</servlet-name>
        <url-pattern>/Sorties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Acceuil</servlet-name>
        <url-pattern>/Acceuil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Services</servlet-name>
        <url-pattern>/Services</url-pattern>
    </servlet-mapping>
    <session-config>
       
    </session-config>
</web-app>
